.cta {
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/cta@1x.png");
  font-style: normal;
  color: white;
  height: calc(100vh - 72px);
}
.wrap {
  padding: 260px 0;
  margin-left: 64px;
}
.title {
}
