.secondaryInfo {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  gap: 16px;
}
.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
