.nav {
  padding: 0;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: start;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.link {
  color: #101828;
  text-decoration: none;
}

.link.active {
  color: #d84343;
}
