.nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-shrink: 0;
  z-index: 1;
  padding: 20px 0;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex-grow: 1;
  margin-left: -136px;
}
.link {
  color: #101828;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  padding: 20px 0;
}

.link.active {
  color: #d84343;
}
