.form {
  position: sticky;
  top: 120px;
  overflow-y: auto;
  max-height: calc(100vh - 120px);
  display: flex;
  align-items: self-start;
  justify-content: start;
  flex-direction: column;
}
.locationLabel {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
}

.locationInput {
  background-color: var(--inputs);
  color: var(--main);
  border-radius: 12px;
  padding: 18px;
  padding-left: 48px;
  width: 360px;
  height: 56px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  border: none;
  outline: transparent;
}

.locationInput::placeholder {
  font-family: var(--font-family);
}
.locationInput:hover,
.locationInput:focus + .icon {
  fill: var(--main);
}
.icon {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  fill: var(--gray);
  stroke: none;
  transition: fill var(--anim-fast);
}
.inputWrap {
  position: relative;
  margin-top: 8px;
}
.filtersTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
  margin-top: 40px;
}

.label {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-top: 32px;
  position: relative;
  padding-bottom: 24px;
}
.label::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 360px;
  border-bottom: 1px solid var(--gray-light);
}

.equipment,
.vehicle {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 8px;
}

@media only screen and (min-width: 1158px) {
  .locationInput {
    width: 320px;
  }
  .label::after {
    min-width: 320px;
  }
}
.btn {
  margin-top: 40px;
}
