.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.centred {
  text-align: center;
}

.error {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--cl-red);
}
.errorDetail {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--cl-black);
}
