.item {
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  background-color: var(--white);
  gap: 24px;
  padding: 24px;
  border: 1px solid var(--gray-light);
  border-radius: 20px;
}
.info {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 24px;
}
.info .secondaryInfo {
  gap: 8px;
}
.img {
  border-radius: 10px;
  max-width: 292px;
  height: 320px;
  object-fit: cover;
}

.mainInfo {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

.secondaryInfo {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
}

.description {
  text-align: start;
  display: -webkit-box;
  line-clamp: 1; /* Use box layout */
  -webkit-line-clamp: 1; /* Number of lines to show */
  -webkit-box-orient: vertical; /* Set the box orientation */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
}
.priceWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
}
